.gallery {
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .title-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .title {
      color: var(--accent-color1);
      font-size: 2.4rem;
    }
    .description {
      color: var(--accent-color3);
      a {
        color: var(--accent-color3);
        font-weight: bold;
      }
    }
  }
  .cards {
    padding-left: 0rem;
    padding-right: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .gallery{
    padding: 1rem 2rem;
    width: 100vw;
    .cards {
      display: flex;
      overflow: auto;
      justify-content: flex-start;
      gap: 2rem;
      padding-left: 1.5rem;
      &::-webkit-scrollbar {
        display: none;
      }
      .card {
        zoom: 0.7;
      }
    }
  }
}