.ipfs {
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 5rem 0;
  border-top: 0.1rem solid white;  

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 32px;
    .content {
      margin-top: 2rem;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      .sub-title {
        
        margin-top: 6rem;
        color: var(--blue);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
      .title {
        color: var(--accent-color1);
        font-size: 2.4rem;
      }
      .description {
        margin-left: 0rem;
        margin-right: 0.5rem;
        font-size: 18px;
        color: var(--accent-color3);
      }
      button {
        font-size: 1rem;
        color: var(--accent-color1);
        background-color: var(--background);
        font-weight: bold;
        padding: 0.8rem 2rem;
        border-radius: 2rem;
        //box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, var(--purple), var(--blue));
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px var(--background) inset;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
          box-shadow: none;
        }
      }
    }
    .image-container {
      text-align: center;
      position: relative;
      z-index: 10;
      .image {
        img {
        }
      }
      .ellipse-container {
        .ellipse {
          z-index: -1;
          position: absolute;
          height: 15rem;
          width: 15rem;
          filter: blur(200px);
        }
        .purple {
          top: 40%;
          right: 40%;
          background-color: var(--purple);
        }
        .blue {
          bottom: 40%;
          left: 40%;
          background-color: var(--blue);
        }
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .ipfs {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: -5rem;
    position: relative;
    //overflow-x: hidden;
    
    .container {
      font-size: 16px;
      grid-template-columns: 0.7fr;
    
      .image-container {
        position: absolute;
        right: -10%;
        top: 30%;
        .image {
          img {
            height: 10rem;
          }
        }
        .ellipse-container {
          .ellipse {
            height: 6rem;
            width: 6rem;
            filter: blur(30px);
          }
          .purple {
            right: 10%;
          }
          .blue {
            left: -5%;
          }
        }
      }
    }
  }
}
