.NFTIpfs {
 
  .container {
    
    display: flex;
  
    position: relative;
    height: 350px;
    border-radius: 1rem;
   
    z-index: 1;
    
    .background {
      
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: -1;
      .ellipse {
        position: absolute;
        height: 100%;
        width: 12rem;
        border-radius: 500%;
        filter: blur(100px);
      }
      .blue {
        top: -10%;
        right: -15%;
        background-color: var(--blue);
      }
      .purple {
        top: -10%;
        left: -15%;
        background-color: var(--purple);
      }
      
    }
    .content {
    
     
      
      .close-btn {
        position: absolute;
        top: 2%;
        right: 3%;
        font-size: 1.5rem;
        z-index: 1;
         color: var(--accent-color1);
        cursor: pointer;
      }
      
      .form-content-left {
        background: linear-gradient(
          90deg,
          rgb(39, 176, 255) 0%,
          rgb(0, 232, 236) 100%
        );
        border-radius: 10px 0 0 10px;
        position: relative;
      }
      
      .form-img {
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .form-img-2 {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .form-success {
        text-align: center;
        font-size: 24px;
        //margin-top: 80px;
        //color: var(--accent-color1);
      }
      
      .form-content-right {
        //margin: 10px auto;
        width: 700px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 10px;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70px;
      }
      
      .form {  
        //margin: 0px auto;
        width: 525px;
        //box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
       
      }
      .title {
        color: var(--accent-color1);
        font-size: 1.5rem;
      }
      
      .form h1 {
        font-size: 2rem;
        text-align: start;
        width: 80%;
        margin-bottom: 1rem;
        color: var(--accent-color1);
      }
      
      .form-inputs {
        margin-bottom: 0.5rem;
        width: 80%;
        color: var(--accent-color1);
      }
      
      .form-inputs p {
        font-size: 0.8rem;
        margin-top: 0.5rem;
        color: #f00e0e;
        
      }
      
      .form-label {
        display: inline-block;
        font-size: 0.8rem;
        margin-bottom: 6px;
        color: var(--accent-color1);
      }
      
      .form-input {
        display: block;
        padding-left: 10px;
        outline: none;
        border-radius: 50px;
        height: 40px;
        width: 100%;
        color: #000000;
      }
      
      .form-input::placeholder {
        //color: var(--accent-color1);
        font-size: 12px;
      }
      
      .form-input-btn {
        font-size: 1rem;
        color: var(--accent-color1);
        background-color: var(--background);
        font-weight: bold;
        padding: 0.8rem 2rem;
        border-radius: 2rem;
        //box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, var(--purple), var(--blue));
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px var(--background) inset;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
          box-shadow: none;
        }
      }
      .form-input-login {
        color: var(--accent-color1);
        background-color: var(--background);
        font-weight: bold;
        padding: 1rem 3rem;
        border-radius: 2rem;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, var(--purple), var(--blue));
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px var(--background) inset;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
          box-shadow: none;
        }
      }
      
      .form-input-btn:hover {
        cursor: pointer;
        background: linear-gradient(
          90deg,
          rgb(39, 143, 255) 0%,
          rgb(12, 99, 250) 100%
        );
        transition: all 0.4s ease-out;
        color: var(--accent-color1);
      }
      
      .form-input-login {
        font-size: 0.8rem;
        margin-top: 10px;
        color: var(--accent-color1);
        width: 80%;
        text-align: center;
      }
      
      .form-input-login a {
        text-decoration: none;
        color: #27cdff;
        font-weight: 600;
        color: var(--accent-color1);
      }
      
    }
  }

  [data-theme="light"] {
    .NFTIpfs {
      .brand-container {
        .brand {
          img {
            filter: brightness(0);
          }
        }
      }
    }
  }
 
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    
    margin: 0;
    .container {  
      height: 60vh;
      border-radius: 0;
      .content {
        .form{
          padding-top: 8rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          padding-bottom: 0rem;
          
        }
      }
      
      .background {
        .pink {
          left: -70%;
        }
        .green {
          right: -100%;
        }
      }
      .content {
        font-size: 16px;
        display: grid;
        flex-direction: column;
              
        .title {
          font-size: 22px;
        }
        .form{
        font-size: 25px;
        height: 50vh;
        width: 60vh;
        }
      }
    }
  
}
}